{% extends 'base.html' %}

{% block menu %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Категории
  </a>
  <ul class="dropdown-menu">
    {% for choice in choices %}
    <li><a class="dropdown-item" href="{% url 'categories' choice.0 %}">{{ choice.1 }}</a></li>
    {% endfor %}
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link text-white ms-2" href="{% url 'product_add' %}">+добавить товар</a>
</li>
{% endblock %}


{% block content %}
<div class="row">
    <h2 style="text-align:center" class="m-3">Товары в корзине:</h2>
    <div class="container text-center"> 
        <div class="row">
          <div class="col">
                <strong>Наимнование</strong>
          </div>
          <div class="col">
                <strong>Цена</strong>
          </div>
          <div class="col">
                <strong>Количество</strong>
          </div>
          <div class="col">
                <strong>Сумма</strong>
          </div>
          <div class="col">
      </div>
        </div>
    </div>

{% for product in products %}
    <div class="container text-center"> 
        <div class="row m-3">
          <div class="col">
            {{product.product}}
          </div>
          <div class="col">
            {{product.product.price}}
          </div>
          <div class="col">
            {{product.quantity}}
          </div>
          <div class="col">
            {% widthratio product.product.price 1 product.quantity %}
          </div>
          <div class="col">
            <a href="{% url 'cart_del_product' product.pk %}">удалить</a>
          </div>
        </div>
    </div>
{% endfor %}
<hr>
<div class="ms-3 mb-2">Общая сумма: <strong>{{ total }}</strong></div>
  </div>
<form class="m-3" action="{% url 'cart' %}" method="POST">
  {% include 'partial/form_order.html' with button_text='Заказать' %}
</form>
  
{% endblock %}