{% extends 'base.html' %}

{% block menu %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Категории
  </a>
  <ul class="dropdown-menu">
    {% for choice in choices %}
    <li><a class="dropdown-item" href="{% url 'categories' choice.0 %}">{{ choice.1 }}</a></li>
    {% endfor %}
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link text-white ms-2" href="{% url 'product_add' %}">+добавить товар</a>
</li>
{% include 'partial/form_find.html' with button_text='Найти' %}
<li class="nav-item">
  <a class="nav-link text-white ms-2" href="{% url 'cart' %}"><strong>КОРЗИНА({{ count.sum }})</strong></a>
</li>
{% endblock %}


{% block content %}


<div class="row">
  <h2 style="text-align:center" class="m-3">Все товары:</h2>
{% for product in products %}
{% include 'partial/products_display.html' %}
{% empty %}
<p>Задачи не найдены!</p>
{% endfor %}
{% if is_paginated %}
  {% include 'partial/pagination.html' %}
{% endif %}
</div>



{% endblock %}