{% extends 'base.html' %}

{% block title %}
    Создание записи
{% endblock %}

{% block menu %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Категории
    </a>
    <ul class="dropdown-menu">
      {% for choice in choices %}
      <li><a class="dropdown-item" href="{% url 'categories' choice.0 %}">{{ choice.1 }}</a></li>
      {% endfor %}
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link text-white ms-2" href="{% url 'cart' %}"><strong>КОРЗИНА (товаров: {{ count.sum }})</strong></a>
</li>
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-md-12 col-xl-6 mb-4">
        <h2 class="m-3">Создание новой записи: </h2>
        <form class="m-3" action="{% url 'product_add' %}" method="POST">
            {% include 'partial/form_product.html' with button_text='Создать' %}
        </form>
        <p class="mt-4 ms-2"><a href="{% url 'index' %}">вернуться на главную</a></p>
    </div>
</div>
{% endblock %}